.list-group-item-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
button{
   border-radius: 0%;
}
.list-group{
    margin-top: 30px;
}
.container{
    width: 600px;
    border: 2px solid red;
    border-radius: 25px;
    background-color: #70c9d7;
}
h1{
    color: red;
    margin-top: 30px;
}
.list-group{
    margin-bottom: 30px;
}
img{
    width: 80px;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-right: 20px;
}
.bam{
    display: flex;
    justify-content: space-between;
}